.card {
  position: relative;
  border: 1px solid #f3f3f3;
  padding: 20px;
  margin: 0 40px 40px 0;
  width: 250px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  .card:not(:last-child) {
    margin-right: 40px;
  }

    &:hover {
      transform: scale(1.03);
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    }

    .favorite {
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }

    img:not(:last-child) {
      border-radius: 15px;
      width: 100%;
      height: 240px;
    }

    h5 {
      font-weight: 400;
      font-size: 19px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }

    b {
      font-family: 'Rowdies', cursive;
    }
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .plus {
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;

      img {
        width: 35px;
        height: 35px;
      }
  }
}