body {
  margin: 0;
  box-sizing: border-box;
  background-color: #efe;
  overflow-x: hidden;
  h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

* {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background:rgb(140, 217, 211);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:#f55ca6;
  border-radius: 0px;
}

// ========================================
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(140, 217, 211);
}

.content {
  padding: 40px 70px;
  margin-top: 100px;

    .top-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      h1 {
        font-family: 'Rowdies', cursive;
        font-weight: 700;
        font-size: 60px;
        color: #f55ca6;
      }
      

        .search-block {
          display: flex;
          align-items: center;
          border: 1px solid #f3f3f3;
          border-radius: 10px;
          padding: 0 15px;
          background: #fff;
        }

          input {
            width: 200px;
            border: 0px;
            padding: 13px;
            font-size: 16px;
            outline: none;
          }
          
          .removeInput {
            width: 30px;
            opacity: 0.5;
            cursor: pointer;
          }
    }

    .card-container {
      display: flex;
      margin: 0 0 0 48px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }
}

@media(max-width: 850px) {
  .wrapper {
    position: relative;
    width: 100%;
    background-color: rgb(140, 217, 211);
  }
  
  .content {
    padding: 0 20px;
    margin-top: 60px;
  
      .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 40px;
  
        h1 {
          font-family: 'Rowdies', cursive;
          font-weight: 700;
          font-size: 40px;
          margin-bottom: 10px;
          color: #f55ca6;
        }
        
  
          .search-block {
            display: flex;
            align-items: center;
            border: 1px solid #f3f3f3;
            border-radius: 10px;
            padding: 0 15px;
            background: #fff;
          }
  
            input {
              width: 200px;
              border: 0px;
              padding: 13px;
              font-size: 16px;
              outline: none;
            }
            
            .removeInput {
              width: 30px;
              opacity: 0.5;
              cursor: pointer;
            }
      }
  
      .card-container {
        display: flex;
        margin: 0 0 0 48px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
      }
  }
}
